<div class="container" id="contact">
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-4 py-3 py-md-0">
            <div class="card">
                <i class="bi bi-phone"> Phone</i>
                <h6>+0000000000000000000</h6>
            </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <div class="card">
                <i class="bi bi-envelope"> Email</i>
                <h6>examplegmail.com</h6>
            </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <div class="card">
                <i class="bi bi-geo-alt"> Address</i>
                <h6>Karachi Sindh Pakistan</h6>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-4 py-3 py-md-0">
            <input type="text" class="form-control form-control" placeholder="Name">
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <input type="text" class="form-control form-control" placeholder="Email">
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <input type="text" class="form-control form-control" placeholder="Phone">
        </div>
    </div>
    <div class="form-group" style="margin-top: 30px;">
        <textarea class="form-control" id="" rows="5" placeholder="Message"></textarea>
    </div>
    <div class="messagebtn text-center"><button class="btn btn-primary">Message</button></div>
</div>
