#register {
    width: 100%;
    height: auto;
    background-color: rgb(67 0 86);
    margin-top: 35px;
    border-radius: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    font-size: 20px;
}

#side1 h3 {
    color: #ffc800;
    font-weight: bold;
    margin-top: 47%;
}

#side2 {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#side2 h3 {
    margin-top: 30px;
    color: #ffc800;
    font-weight: bold;
    text-shadow: 0px 1px 1px black;
}

.input2 input,
.input2 select {
    margin-top: 15px;
    width: 300px;
    max-width: 100%;
    border: none;
    border-bottom: 2px solid #ffc800;
    text-align: center;
}

.input2 input::placeholder,
.input2 select::placeholder {
    font-weight: bold;
}

#btnlogin,
#btnlogin a,
#side2 button {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 15px;
    background-color: #ffc800;
    color: white;
    font-weight: bold;
    border: none;
    text-shadow: 0px 0px 1px black;
    margin-bottom: 30px;
}

h3 {
    font-size: 30px;
}
