
  <!-- product cards -->
  <div class="container" id="product-cards">
    <h1 class="text-center">PRODUCTS</h1>
    <div class="row" style="margin-top: 30px;">
      <div class="col-md-3 py-3 py-md-0">
        <div class="card">
          <img src="assets/images/p6.png" alt="">
          <div class="card-body">
            <h3 class="text-center">Iphone 13 pro</h3>
            <p class="text-center">Lorem ipsum dolor sit amet.</p>
            <div class="star text-center">
              <i class=" bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <h2>$1000 <span><i class="bi bi-cart"></i></span></h2>
          </div>
        </div>
      </div>
      <div class="col-md-3 py-3 py-md-0">
        <div class="card">
          <img src="assets/images/a1.png" alt="">
          <div class="card-body">
            <h3 class="text-center">Airpods</h3>
            <p class="text-center">Lorem ipsum dolor sit amet.</p>
            <div class="star text-center">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <h2>$100 <span><i class="bi bi-cart"></i></span></h2>
          </div>
        </div>
      </div>
      <div class="col-md-3 py-3 py-md-0">
        <div class="card">
          <img src="assets/images/laptop2.png" alt="">
          <div class="card-body">
            <h3 class="text-center">Laptop</h3>
            <p class="text-center">Lorem ipsum dolor sit amet.</p>
            <div class="star text-center">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <h2>$200 <span><i class="bi bi-cart"></i></span></h2>
          </div>
        </div>
      </div>
      <div class="col-md-3 py-3 py-md-0">
        <div class="card">
          <img src="assets/images/t1.png" alt="">
          <div class="card-body">
            <h3 class="text-center">Ipad</h3>
            <p class="text-center">Lorem ipsum dolor sit amet.</p>
            <div class="star text-center">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <h2>$300 <span><i class="bi bi-cart"></i></span></h2>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 30px;">
      <div class="col-md-3 py-3 py-md-0">
        <div class="card">
          <img src="assets/images/w1.png" alt="">
          <div class="card-body">
            <h3 class="text-center">Smart Watch</h3>
            <p class="text-center">Lorem ipsum dolor sit amet.</p>
            <div class="star text-center">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <h2>$50.60 <span><i class="bi bi-cart"></i></span></h2>
          </div>
        </div>
      </div>
      <div class="col-md-3 py-3 py-md-0">
        <div class="card">
          <img src="assets/images/pcm1.png" alt="">
          <div class="card-body">
            <h3 class="text-center">PC Moniter</h3>
            <p class="text-center">Lorem ipsum dolor sit amet.</p>
            <div class="star text-center">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <h2>$600 <span><i class="bi bi-cart"></i></span></h2>
          </div>
        </div>
      </div>
      <div class="col-md-3 py-3 py-md-0">
        <div class="card">
          <img src="assets/images/phone1.png" alt="">
          <div class="card-body">
            <h3 class="text-center">iPhone x</h3>
            <p class="text-center">Lorem ipsum dolor sit amet.</p>
            <div class="star text-center">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <h2>$500 <span><i class="bi bi-cart"></i></span></h2>
          </div>
        </div>
      </div>
      <div class="col-md-3 py-3 py-md-0">
        <div class="card">
          <img src="assets/images/h1.png" alt="">
          <div class="card-body">
            <h3 class="text-center">Headphone</h3>
            <p class="text-center">Lorem ipsum dolor sit amet.</p>
            <div class="star text-center">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <h2>$60 <span><i class="bi bi-cart"></i></span></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- product cards -->
