<div class="container" id="login">
    <div class="row">
      <div class="col-md-5 py-3 py-md-0" id="side1">
        <h3 class="text-center">Welcome Back</h3>
      </div>
      <div class="col-md-7 py-3 py-md-0" id="side2">
        <h3 class="text-center">Log in</h3>
        <form (ngSubmit)="handelLogin()" [formGroup]="loginForm">

          <div class="input2 text-center">
         <p class="text-danger">{{ loginError }}</p>

            
            <input formControlName="email" type="email" class="form-control mb-3" placeholder="Email">
            <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
              <p *ngIf="loginForm.get('email')?.getError?.('email')">Invalid Email</p>
              <p *ngIf="loginForm.get('email')?.getError?.('required')">Email Required</p>
            </div>
            
            <input formControlName="password" type="password" class="form-control mb-3" placeholder="Password">
            <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
              <p *ngIf="loginForm.get('password')?.getError?.('minlength')">Password Minimum Length must be 8 Characters</p>
              <p *ngIf="loginForm.get('password')?.getError?.('required')">Password Required</p>
            </div>

          </div>
          <button [disabled]="loginForm.invalid" type="submit" class="btn  text-center" id="btnlogin">
            <i *ngIf="isLoading" class="sr-only">loading .....</i>
            <span *ngIf="!isLoading"> Log In</span>
          </button>
          <br/>
          <a [routerLink]="['/register']" class="text-center " style="margin-left: 37%;"><a href="">Sign Up</a></a>

          <p class="text-center"><a href="">Forgot Password</a></p>
        </form>
      </div>
    </div>
  </div>
  